<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libjpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>libpng.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>opencv_calib3d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>opencv_contrib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>opencv_core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>opencv_features2d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>opencv_flann.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>opencv_highgui copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>opencv_highgui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>opencv_imgproc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>opencv_legacy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>opencv_ml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>opencv_objdetect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>opencv_ts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>opencv_video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>opencv_world.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0E8EFC2161252F300886AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0E8EFF01612584A00886AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA029E41573DA5600BC966A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC81FEC135E743800F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC82067135E74F000F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC820EF135E754400F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC823A1135E767D00F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC82403135E77A600F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC8248B135E789300F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC824DD135E794900F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC82530135E7B1000F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC82570135E7BCA00F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC82616135E7F8B00F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC82645135E80B400F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC8267C135E818000F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC82809135E874800F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC82872135E889600F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABC8289A135E898900F4D611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
